/* estilizacao geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

:root{
    --roxo-principal--: #5E17EB;
}

body{
    background-color: #ebebeb;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.interface #img-logo{
    width: 120px;
}

/* Cabecalho */

header{
    background-color: white;
    padding: 0 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .input-nav{
    padding: 2px 5px;
    border-radius: 7px;
    border: solid 1px;
    border-color: #828282;
    transition: 0.2s;
}

header .input-nav:hover{
    border-color: var(--roxo-principal--);
}

header .input-nav i{
    color: var(--roxo-principal--) ;
}


header input{
    color: black;
    background: none;
    outline: none;
    border-style: none;
    height: 30px;
    width: 300px;
}

header input::placeholder{
    color: #828282;
}

header a{
    display: inline-block;
    font-size: 15px;
    color: #828282;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover{
    color: #5E17EB;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.sub-menu{
    border:  1px solid #f0f0f0;
    background-color: white;
}

.sub-menu nav ul{
    margin: 0 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.sub-menu nav ul a{
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    color: #828282;
    text-decoration: none;
    transition: 0.2s;
}

.sub-menu nav ul a:hover{
    color: var(--roxo-principal--);
    transform: scale(1.05);
}






