/* estilizacao geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

:root{
    --roxo-principal--: #5E17EB;
    --roxo-escuro--: #2A007C;
}

body{
    background-color: #f1f1f1;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.interface #img-logo{
    width: 120px;
}

.flex{
    display: flex;
}

/* Cabecalho */

header{
    background-color: white;
    padding: 0 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .input-nav{
    padding: 2px 5px;
    border-radius: 7px;
    border: solid 1px;
    border-color: #828282;
    transition: 0.2s;
}

header .input-nav:hover{
    border-color: var(--roxo-principal--);
}

header .input-nav i{
    color: var(--roxo-principal--) ;
}


header input{
    color: black;
    background: none;
    outline: none;
    border-style: none;
    height: 30px;
    width: 300px;
}

header input::placeholder{
    color: #828282;
}

header a{
    display: inline-block;
    font-size: 15px;
    color: #828282;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover{
    color: var(--roxo-principal--);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.menu-desktop i{
    display: inline-block;
    margin-left: 50px;
    font-size: 25px;
    color: var(--roxo-principal--);
    cursor: pointer;
    transition: 0.2s;
}

.menu-desktop i:hover{
    transform: scale(1.05);
}

.sub-menu{
    border:  1px solid #f0f0f0;
    background-color: white;
}

.sub-menu nav ul{
    margin: 0 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.sub-menu nav ul a{
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    color: #828282;
    text-decoration: none;
    transition: 0.2s;
}

.sub-menu nav ul a:hover{
    color: var(--roxo-principal--);
    transform: scale(1.05);
}

/* Produtos */
section.produtos h2{
    margin-top: 20px;
    color: var(--roxo-principal--);
    text-align: center;
}


.card-produto{
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 20px;
    cursor: pointer;
}

.card-produto img{
    align-items: center;
    width: 120px;
}

.card-produto p{
    font-size: 15px;
    font-weight: 300;
    margin: 15px;
}

.card-produto .preco-produto{
    margin: 5px;
}

.card-produto h5{
    color: var(--roxo-escuro--);
    text-decoration: line-through;
}

.card-produto h3{
    color: var(--roxo-principal--);
}

.card-produto button.btn-produto{
    border: 1px solid var(--roxo-escuro--);
    border-radius: 20px;
    color: var(--roxo-principal--);
    background-color: white;
    width: 150px;
    margin: 20px; 
    transition: 0.3s;
    padding: 10px;
    cursor: pointer;
}

.card-produto button.btn-produto:hover{
    background-color: var(--roxo-principal--);
    color: white;
}

/* Plano de Saude */
section.plano-de-saude{
    background-color: #5E17EB;
    padding: 20px;
}


section.plano-de-saude h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

section.plano-de-saude .flex{
    display: flex;
    justify-content: space-evenly;
    gap: -30
}

.card-plano-saude-menor{
    cursor: grab;
    margin-top: 30px;
    width: 270px;
    height: 350px;
    background-color: white;
    color: var(--roxo-principal--);
    text-align: center;
    border-radius: 20px;
    transition: 0.2s
}

.card-plano-saude-menor h3{
  font-size: 40px;
  font-weight: 900;
}

.card-plano-saude-menor .preco-plano-saude{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

.card-plano-saude-menor .regiao-plano-saude{
    font-size: 15px;
}

.card-plano-saude-menor a{
    margin-top: 30px;
    display: block;
    cursor: pointer;
    transition: 0.2s;
}

.card-plano-saude-menor a:hover{
    transform: scale(1.05);
}

.card-plano-saude-menor:hover{
    transform: scale(1.05);
}

.btn-plano-saude{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #5E17EB;
}


.card-plano-saude-maior{
    cursor: grab;
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    color: var(--roxo-principal--);
    transition: 0.2s;
}


.card-plano-saude-maior h3{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 900;
}

.card-plano-saude-maior .preco-plano-saude{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

.card-plano-saude-maior a{
    margin-top: 30px;
    display: block;
    cursor: pointer;
    transition: 0.2s;
}

.card-plano-saude-maior a:hover{
    transform: scale(1.05);
}

.card-plano-saude-maior:hover{
    transform: scale(1.05);
}

#logo-plano-de-saude{
    width: 100px;
}

.btn-plano-saude{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    border: 2px solid;
    color: white;
    background-color: #5E17EB;
    cursor: pointer;
    transition: 0.2s;
}

.btn-plano-saude:hover{
    border-color: #5E17EB;
    background-color: white;
    color: var(--roxo-principal--);
    transform: scale(1.05);
}




